# Dependencies
node_modules/
dist/

# Environment variables
.env

# Build outputs
src/server/static/
src/client/dist/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Logs
coverage/
*.log

# OS
.DS_Store
